@use "../util/functions" as *;
@use "../util/breakpoints" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  width: 100%;
  display: block;
}

body {
  background-color: var(--clr-background);
  letter-spacing: 0.1rem;
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 rem(16);
  transition: all 0.3s;

  @include breakpoint-up("desktop") {
    padding-left: 0;
    padding-right: 0;
  }
}
