@use "../util/breakpoints" as *;

@font-face {
  font-family: "Preahvihear";
  font-weight: 400;
  src: url("/assets/fonts/preahvihear-regular.woff2") format("woff2"),
    url("/assets/fonts/preahvihear-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/assets/fonts/poppins-regular.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/assets/fonts/poppins-bold.woff2") format("woff2"),
    url("/assets/fonts/poppins-bold.woff") format("woff");
}

@font-face {
  font-family: "Lavish";
  font-weight: 400;
  src: url("/assets/fonts/lavishlyyours-regular.woff2") format("woff2"),
    url("/assets/fonts/lavishlyyours-regular.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-headings);
  font-family: var(--ff-headings);
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 0.9rem;
}

p {
  word-wrap: break-word;
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
