:root {
  --clr-background: hsl(48, 26%, 96%);
  --clr-text: hsl(189, 42%, 22%);

  --ff-primary: "Roboto", sans-serif;
  --ff-secundary: "Lavish", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}
