@use "../util/breakpoints" as *;
@use "../util/functions" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(50);
  text-align: center;

  &__title {
    font-size: 2.8rem;

    @include breakpoint-down("tablet") {
      font-size: 2rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-bold);

    &-p1 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      @include breakpoint-down("tablet") {
        font-size: 1rem;
      }
    }
  }

  &__image {
    background-image: url("/assets/images/me.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: -1;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1.1;
    max-width: em(300);
    width: 100%;
    position: relative;

    @include breakpoint-down("tablet") {
      background-image: url("/assets/images/me-mobile.svg") !important;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @include breakpoint-down("mobile") {
      flex-direction: column;
    }

    .button {
      cursor: pointer;
      padding: 1rem 1.4rem;
      border-radius: 2rem;
      border: 1px solid var(--clr-button-border);
      font-weight: bold;
      font-size: 0.9rem;

      color: var(--clr-button-text1);
      transition: all 0.3s;
      width: rem(140);
    }

    .button.cv {
      background: var(--clr-button-background1);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      svg {
        fill: var(--clr-icon-github1);
        transition: fill 0.3s ease;
        width: 25px;
        height: 25px;
      }

      &:hover {
        background: var(--clr-button-background-hover);
        color: var(--clr-button-text-hover);

        svg {
          fill: var(--clr-icon-github2);
        }
      }
    }

    .button.contact {
      background: var(--clr-button-background2);
      color: var(--clr-button-text2);

      &:hover {
        background: var(--clr-button-background-hover);
      }
    }
  }

  &__scroll-link {
    align-self: center;
    border-radius: 50%;
    padding: 0.2rem;
    transition: all 0.3s;

    svg {
      width: rem(35);
      height: rem(35);
      fill: var(--clr-headings);
    }

    &:hover {
      background-color: var(--clr-hover);
    }
  }

  @include breakpoint-up("desktop") {
    height: 90vh;
    display: grid;
    grid-template-columns: 500px max-content;
    gap: 0;
    place-content: center;

    &__image {
      max-width: em(400);
    }
  }
}

.hero__image-eyes {
  display: flex;
  gap: 1.7rem;

  .invisible-eyes::before {
    display: none;
  }

  @include breakpoint-down("desktop") {
    gap: 0.9rem;
  }

  @media (width: 1400px) {
    gap: 1.7rem;
  }

  .eye.no-rotate {
    transform: none !important;
  }
  .eye:nth-child(2).no-rotate {
    transform: rotate(180deg) !important;
  }

  @include breakpoint-up("tablet") {
    .eye {
      position: relative;
      width: rem(25);
      height: rem(25);
      top: rem(86);
      left: rem(193);

      @include breakpoint-down("desktop") {
        top: rem(60);
        left: rem(142);
      }

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: black;

        @include breakpoint-down("desktop") {
          width: 8px;
          height: 8px;
        }
      }

      @media (width: 1400px) {
        top: rem(85);
        left: rem(192);

        &:before {
          width: 10px;
          height: 10px;
        }
      }

      @media (width: 800px) {
        display: none;
      }
    }
  }
}
