@use "../global/variables" as *;
@use "../util/breakpoints" as *;
@use "../util/functions" as *;

main {
  flex: 1;
  max-width: em(1000);
  width: 100%;
  align-self: center;
}

section {
  &:not(:nth-child(2), :first-child) {
    margin-top: 4rem;
  }

  @include breakpoint-down("desktop") {
    &:nth-child(2) {
      margin-top: 3rem;
    }
  }
}

footer {
  margin-top: 100rem;
}
