@use "../util/breakpoints" as *;
@use "../util/functions" as *;

main {
  flex: 1;
  max-width: em(1400);
  width: 100%;
  align-self: center;
}

.hero {
  height: 90vh;
  @include flex-column(rem(32));
  @include flex-center;
  text-align: center;

  &__text {
    @include flex-column((rem(10)));
  }

  &__image {
    border: 2px solid black;
    @include flex-center;
    order: -1;
  }

  @include breakpoint-up("tablet") {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: calc(100dvh - 16px);
    // border: 2px solid red;
    // align-items: center;
  }
}
